@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, rgba(95,226,204,1) 0%, rgba(107,164,237,1) 37%, rgba(179,178,255,1) 90%, rgba(179,178,255,1) 90%);
}

html,body, #root {
  height: 100%!important;
}